/*programmer: Francesco Cimino
program: Playstation web-app
!!! Thank you !!!*/

/* start-code */
/* html */
html {
    font-size: 100%;
}

/* img-formatting */
img {
    width: 100%;
}

/* root-colors */
:root {
    --ms_color-black: #000000;
    --ms_color-light-black: #1f1f1f;
    --ms_color-white: #ffffff;
    --ms_color-gray: #727272;
    --ms_color-light-gray: #bebcbb;
    --ms_color-dark-blue: #161c3b;
    --ms_color-blue: #00439c;
}

/* background-colors */
.ms_bg-black {
    background-color: var(--ms_color-black);
}

.ms_bg-light-black {
    background-color: var(--ms_color-light-black);
}

.ms_bg-light-gray {
    background-color: var(--ms_color-light-gray);
}

.ms_bg-dark-blue {
    background-color: var(--ms_color-dark-blue);
}

.ms_bg-blue {
    background-color: var(--ms_color-blue);
}

.ms_color-white {
    color: var(--ms_color-white);
}

.ms_color-gray {
    color: var(--ms_color-gray);
}

/* margin */
.ms_mt-6 {
    margin-top: 6rem;
}

/* button-formatting */
.ms_btn {
    border-radius: 20px;
    display: inline-block;
    padding: .5rem 1rem;
    transition-duration: 1s;
}

#buttons:hover{
    transform: scale(.8); 
    border: 1.5px solid red;
}

#card-game-formatting:hover{
    transform: scale(.8); 
    border: 1.5px solid black;
    cursor: pointer;
}

#decoration{
    transition-duration: 1s;
}

#decoration:hover{
    transform: scale(1.2);
    color:black;
}

#card-ps-5{
    transition-duration: 1s;
}

#card-ps-5:hover{
    transform: scale(1.2)
}


/* typography */
h2 {
    font-size: 3rem;
}

/* header */
header .nav-link {
    color: var(--ms_color-black);
    font-weight: 600;
}

header .ms_logo img {
    padding: .5rem;
    width: 100px;
}

header .dropdown-toggle::after {
    margin-left: .5rem;
    color: var(--ms_color-light-gray);
}

header .ms_btn {
    color: white;
}

/* menu */
.dropdown-toggle::after{
    content: "";
    background-image: url(../img/chevron-down-solid.svg);
    background-position: center;
    height: 10px;
    width: 10px;
    border: 0;
    vertical-align: 0;
}

ul{
    list-style-type: none;
}

li.nav-item.dropdown:hover .dropdown-menu{
    display: block;
}

li.nav-item.dropdown:hover .dropdown-toggle::after{
    background-image: url(../img/chevron-down-solid-hover.svg);
    transform: rotateX(180deg);
}

.dropdown{
    position: static;
}

/* main */
.ms_section {
    padding: 5rem 0;
    transition-duration: 1s;
}

/* box */
.box {
    min-width: 100px;
    height: 200px;
    background-color: green;
}

/* jumbotron-formatting */
#jumbotron {
    min-height: 600px;
    margin-top: 80px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: var(--ms_color-white);
}

/* jumbotron-card */
#jumbotron .card {
    background-color: var(--ms_color-red);
    color: var(--ms_color-white);
    text-decoration: none;
    font-weight: 600;
}

/* buy-now  */
#buy-now {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

/* new-release  */
#new-releases {
    color: var(--ms_color-white);
}

#new-release .ms_card-img img {
    border-radius: 15px;
}

/* footer */
footer ul {
    list-style-type: none;
}

footer li {
    line-height: 2.5rem;
}

.ms_global img {
    width: 15px;
}

.ms_card img {
    width: 150px;   
}

/* end-code */