/*programmer: Francesco Cimino
program: Playstation web-app
!!! Thank you !!!*/

/* start-code */
/* html */
html {
    font-size: 100%;
}

/* img-formatting */
img {
    width: 100%;
}

/* root-colors */
:root {
    --ms_color-black: #000000;
    --ms_color-light-black: #1f1f1f;
    --ms_color-white: #ffffff;
    --ms_color-gray: #727272;
    --ms_color-light-gray: #bebcbb;
    --ms_color-dark-blue: #161c3b;
    --ms_color-blue: #00439c;
}

/* background-colors */
.ms_bg-black {
    background-color: var(--ms_color-black);
}

.ms_bg-light-black {
    background-color: var(--ms_color-light-black);
}

.ms_bg-light-gray {
    background-color: var(--ms_color-light-gray);
}

.ms_bg-dark-blue {
    background-color: var(--ms_color-dark-blue);
}

.ms_bg-blue {
    background-color: var(--ms_color-blue);
}

.ms_color-white {
    color: var(--ms_color-white);
}

.ms_color-gray {
    color: var(--ms_color-gray);
}

/* margin */
.ms_mt-6 {
    margin-top: 6rem;
}

/* button-formatting */
.ms_btn {
    border-radius: 20px;
}

/* typography */
h2 {
    font-size: 3rem;
}

/* header */
header .nav-link {
    color: var(--ms_color-black);
    font-weight: 600;
}

header .dropdown-toggle::after {
    margin-left: 0.5rem;
    color: var(--ms_color-light-gray);
}

header .ms_btn {
    color: white;
}

/* main */
.ms_section {
    padding: 2rem 0;
}

/* box */
.box {
    min-width: 100px;
    height: 200px;
    background-color: green;
}

/* jumbotron-formatting */
#jumbotron {
    min-height: 600px;
    margin-top: 80px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: var(--ms_color-white);
}

/* jumbotron-card */
#jumbotron .card {
    background-color: none;
}

/* buy-now  */
#buy-now {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

/* new-release  */
#new-releases {
    color: var(--ms_color-white);
}

/* end-code */